@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: whitesmoke;
}

#logo {
  height: 55px;
  margin: auto;
}

#menuIcon {
  color: #44444d;
}

#navbar {
  background-color: whitesmoke;
}

#appbar {
  position: static;
}